# yaml-language-server: $schema=https://json.schemastore.org/prettierrc
plugins:
  - prettier-plugin-svelte
  - prettier-plugin-tailwindcss
overrides:
  - files: "**/*.svelte"
    options:
      parser: "svelte"
